@model WebUI.Models.HeaderViewModel
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i> @Model.AdditionalInformation.Phone</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> @Model.AdditionalInformation.Email</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> @Model.AdditionalInformation.Address</a></li>
            </ul>
           
        </div>
    </div>
    <!-- /TOP HEADER -->
    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="#" class="logo">
                            <img src="./img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->
                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form action="@Url.Action("Search","Product")">
                            <select class="input-select" name="category">
                                <option value="null">All Categories</option>
                                @foreach (var Category in Model.Categories)
                                {
                                    <option value="@Category">@Category</option>
                                }
                            </select>
                            <input class="input" id="data-autocomplete-source" placeholder="Search here" name="searchParam" data-autocomplete-source='@Url.Action("AutocompleteSearch", "Nav")'>
                            <input type="submit" value="Search" class="search-btn" />
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->
                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                       
                        <!-- Cart -->
                        <div class="dropdown" id="dropdown-id">
                                @Html.Partial("_DropDown", Model.cart)
                        </div>
                        <!-- /Cart -->
                        <!-- Menu Toogle -->
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <!-- /Menu Toogle -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>

@Html.Action("Menu")
