@model IEnumerable<string>
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li class="@( ViewBag.active != null && "Home" == ViewBag.active ? "active" : "")">@Html.ActionLink("Home", "Index", "Product")</li>
                <li class="@( ViewBag.active != null && "All Categories" == ViewBag.active ? "active" : "")">
                    @Html.ActionLink("All Categories", "Store", "Product")
                </li>

                @foreach (var link in Model)
                {
                    <li class="@( ViewBag.active != null && link == ViewBag.active ? "active" : "")">
                        @Html.RouteLink(link, new
                        {
                            Controller = "Product",
                            Action = "Store",
                            param = link,
                            page = 1
                        })
                    </li>
                }
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
