@model WebUI.Areas.Administrator.Models.ProductViewModel

@{
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<!-- Default box -->
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">List of products</h3>
    </div>
    <div class="box-body">
        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                <div class="col-sm-12">
                    <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">ProductID</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Image</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Name</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Brand</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Сategory</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Products!=null)
                            {
                                foreach (Domain.Entites.Product item in Model.Products)
                                {
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">@Html.DisplayFor(modelItem => item.ProductID)</td>
                                        <td>
                                            @if (item.ImagesWithResolutions.Count() <= 0)
                                            {
                                                <div class="form-control-static">No Image</div>
                                            }
                                            else
                                            {
                                                <img class="img-thumbnail" width="150" height="150"
                                                     src="@Url.Action("GetImage", "Admin", new { item.ProductID, width = 263, height = 263 })" />
                                            }
                                        </td>
                                        <td>@Html.ActionLink(item.Name, "Edit", new { ProductID = item.ProductID })</td>
                                        <td>@Html.DisplayFor(modelItem => item.Brand)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Сategory)</td>
                                        <td>
                                            @using (Html.BeginForm("Delete", "Admin", new { @class = "delForm" }))
                                            {
                                                @Html.Hidden("ProductID", item.ProductID)
                                                <input value="Delete" type="submit" />
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                                </tbody>
                                <tfoot>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">ProductID</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Image</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Name</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Brand</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Сategory</th>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div><div class="row">
    <div class="col-sm-5">
        <div class="dataTables_info" id="example2_info" role="status" aria-live="polite" style="margin:20px 0">
            @Html.ActionLink("Add new product", "Create", null, new { @class = "btn btn-default", style = "vertical-align:middle" })
        </div>

    </div>
    <div class="col-sm-2">
        <div style="margin:26px 0">
                Showing @(Model.PagingInfo.ItemsPerPage * (Model.PagingInfo.CurrentPage - 1) + 1) to

                @(Model.PagingInfo.ItemsPerPage * (Model.PagingInfo.CurrentPage - 1) + Model.Products.Count())

                of @Model.PagingInfo.TotalItems entries
        </div>
    </div>
            <div class="col-sm-5">

        <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
            @if (Model.PagingInfo.TotalItems > 9)
            {
                @Html.AdminPager(Model.PagingInfo.CurrentPage, x => Url.Action("Index", new { page = x, }), Model.PagingInfo.TotalItems, Model.PagingInfo.ItemsPerPage)
            }
        </div>
    </div>
</div>
            </div>
            <!-- /.box-body -->
    <div class="box-footer">
       
    </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
