@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Domain.Entites.Product

@section breadcrumb
{
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb-tree">
                        <li>
                            @Html.RouteLink("Home", new
                                       {
                                           Controller = "Product",
                                           Action = "Index"
                                       })
                        </li>
                        <li>
                            @Html.RouteLink("All Categories", new
                               {
                                   Controller = "Product",
                                   Action = "Store",
                                   page = 1
                               })
                        </li>
                        <li>
                            @Html.RouteLink(Model.Сategory, new
                                   {
                                       Controller = "Product",
                                       Action = "Store",
                                       param = Model.Сategory,
                                       page = 1
                                   })
                        </li>
                        <li class="active">@Model.Name</li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
}
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    @foreach (Domain.Entites.ImagesWithResolutions image in Model.ImagesWithResolutions)
                    {
                        <div class="product-preview">
                            <img src="@Url.Action("GetImage","Product", new { Model.ProductID,imageId = image.ImagesWithResolutionsID, width = 600, height = 600})" alt="">
                        </div>
                    }
                </div>
            </div>
            <!-- /Product main img -->
            
            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    @foreach (Domain.Entites.ImagesWithResolutions image in Model.ImagesWithResolutions)
                    {
                        <div class="product-preview">
                            <img src="@Url.Action("GetImage","Product", new { Model.ProductID,imageId = image.ImagesWithResolutionsID, width = 263, height = 263})" alt="">
                        </div>
                    }
                </div>
            </div>
            <!-- /Product thumb imgs -->
            
            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">@Model.Name</h2>

                    <div>
                        <h3 class="product-price">$@Model.Price<del class="product-old-price">$@Model.PreviousPrice</del></h3>
                        @if (Model.InStock)
                        {
                            <span class="product-available">In Stock</span>
                        }
                    </div>
                    <p>@Model.Description</p>
                    
                    <p>Color:@Model.Color</p>
                    <div class="add-to-cart">
                       
                        @using (Html.BeginForm("AddToCart", "Cart"))
                        {
                            @Html.HiddenFor(p => p.ProductID)
                            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                            <button type="submit" class="add-to-cart-btn" value="submit"><i class="fa fa-shopping-cart"></i> add to cart</button>
                        }
                        @*<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>*@
                    </div>

                   

                  
                </div>
            </div>
            <!-- /Product details -->
            <!-- Product tab -->
            <div class="col-md-12">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                        <li class=""><a data-toggle="tab" href="#tab2">Details</a></li>
                        
                    </ul>
                    <!-- /product tab nav -->
                    <!-- product tab nav -->
                    @*<ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                        <li><a data-toggle="tab" href="#tab2">Details</a></li>
                        <li><a data-toggle="tab" href="#tab3">Reviews (3)</a></li>
                    </ul>*@
                    <!-- /product tab nav -->
                    <!-- product tab content -->
                    <div class="tab-content">
                        <!-- tab1  -->
                        <div id="tab1" class="tab-pane fade">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>@Model.Description</p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab1  -->
                        <!-- tab2  -->
                        <div id="tab2" class="tab-pane fade">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>@Model.Description</p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab2  -->
                        <!-- tab3  -->
                        @*@Html.Partial("_ReviewsArea", Model.Reviews)*@


                        <!-- /tab3  -->
                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->
        </div>
        
    </div>
    <!-- /row -->
</div>
<!-- /container -->
</div>

