@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebUI.Models.ProductListViewModel

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            @Html.Action("_ProductFilterArea", "Nav", Model)
            <!-- STORE -->
            <div id="store" class="col-md-9">
               
                <!-- store products -->
                @{
                    int Count = Model.Products.Count();
                }

                <div class="row">
                    @if (Count <= 0)
                    {
                        <h1>No results</h1>
                    }
                    @for (int i = 0; i < Count; i++)
                    {

                        <!-- product -->
                        if (i < Count)
                        {
                            <div class="col-md-4 col-xs-6">
                                <div class="product">
                                    @Html.Partial("_ProductPartial", Model.Products.ElementAt(i++))
                                </div>
                            </div>
                        }

                        <!-- /product -->
                        <!-- product -->
                        if (i < Count)
                        {
                            <div class="col-md-4 col-xs-6">
                                <div class="product">
                                    @Html.Partial("_ProductPartial", Model.Products.ElementAt(i++))
                                </div>
                            </div>
                        }
                        <!-- /product -->
                        <div class="clearfix visible-sm visible-xs"></div>

                        <!-- product -->
                        if (i < Count)
                        {
                            <div class="col-md-4 col-xs-6">
                                <div class="product">
                                    @Html.Partial("_ProductPartial", Model.Products.ElementAt(i))
                                </div>
                            </div>
                        }
                        <!-- /product -->
                        <div class="clearfix visible-lg visible-md"></div>

                    }

                </div>
                <!-- /store products -->
                <!-- store bottom filter -->
                <div class="store-filter clearfix">
                    @if (Model.pagingInfo.TotalItems > 0)
                    {
                        <span class="store-qty">Showing @(Model.pagingInfo.TotalItems > 9 ? Model.pagingInfo.ItemsPerPage : Model.pagingInfo.TotalItems)-@Model.pagingInfo.TotalItems products</span>
                        if (Model.pagingInfo.TotalItems > 9)
                        {
                            @Html.BootstrapPager(Model.pagingInfo.CurrentPage, x => Url.Action("Store", new { page = x, }), Model.pagingInfo.TotalItems, Model.pagingInfo.ItemsPerPage)
                        }
                    }


                </div>
                <!-- /store bottom filter -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

