@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebUI.Models.ProductListViewModel
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            @Html.Action("_ProductFilterArea", "Nav", Model)
            <!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store top filter -->
                <div class="store-filter clearfix">
                    <div class="store-sort">
                        <label>
                            Sort By:
                            <select class="input-select">
                                <option value="0">Popular</option>
                                <option value="1">Position</option>
                            </select>
                        </label>

                        <label>
                            Show:
                            <select class="input-select">
                                <option value="0">20</option>
                                <option value="1">50</option>
                            </select>
                        </label>
                    </div>
                    <ul class="store-grid">
                        <li class="active"><i class="fa fa-th"></i></li>
                        <li><a href="#"><i class="fa fa-th-list"></i></a></li>
                    </ul>
                </div>
                <!-- /store top filter -->
                <!-- store products -->
                @{
                    int Count = Model.Products.Count();
                }

                <div class="row">
                    @for (int i = 0; i < Count; i++)
                    {

                        <!-- product -->
                        if (i < Count)
                        {
                            <div class="col-md-4 col-xs-6">
                                <div class="product">
                                    @Html.Partial("_ProductPartial", Model.Products.ElementAt(i++))
                                </div>
                            </div>
                        }

                        <!-- /product -->
                        <!-- product -->
                        if (i < Count)
                        {
                            <div class="col-md-4 col-xs-6">
                                <div class="product">
                                    @Html.Partial("_ProductPartial", Model.Products.ElementAt(i++))
                                </div>
                            </div>
                        }
                        <!-- /product -->
                        <div class="clearfix visible-sm visible-xs"></div>

                        <!-- product -->
                        if (i < Count)
                        {
                            <div class="col-md-4 col-xs-6">
                                <div class="product">
                                    @Html.Partial("_ProductPartial", Model.Products.ElementAt(i))
                                </div>
                            </div>
                        }
                        <!-- /product -->
                        <div class="clearfix visible-lg visible-md"></div>

                    }

                </div>
                <!-- /store products -->
                <!-- store bottom filter -->
                <div class="store-filter clearfix">
                    <span class="store-qty">Showing 20-100 products</span>
                    @Html.BootstrapPager(Model.pagingInfo.CurrentPage, x => Url.Action("Store", new { page = x, }), Model.pagingInfo.TotalItems, Model.pagingInfo.ItemsPerPage)
                    <ul class="store-pagination">
                        <li class="active">1</li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
                <!-- /store bottom filter -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

